body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  5rem;
}

/* This inserts a pseudo element before the content of the parent element*/

p::before {
    content: 'Hello';
    background: red;
    font-size: 20px;
    color: white;
    font-weight: 900;
}

/* This inserts a pseudo element after the content of the parent element*/
p::after {
    background: red;
    display: block;
    font-size: 20px;
    color: white;
    font-weight: 900;
}
}



