body {
    background-color: #a7dbe3;
    color: white;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: #374737
}

p {
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 1.4;

    background-color: yellow;

    /* Clear makes an element omit the float property of another element*/
    /* Clear ignores everything that's floating above it and starts a new line*/

    clear: both;
}

.red-box {
    height: 500px;
    width: 500px;
    background: rgba(255,0,0,.5);

    /* float "elevates" the element above the other elements */
    float: left;

}

.blue-box {
    height: 400px;
    width: 700px;
    background: blue;
    
    /* float "elevates" the element above the other elements */
    float: right;
}

img {
    height: 300px;
    width: 300px;
    float: left;
}


/* The CSS box model */

/*
    Margin: empty space around my element
    Border: border or stroke around element
    Padding: empty space WITH background around my element

    ALL OF THESE ADD ON TOP OF WIDTH AND HEIGHT

*/


.box {
    background: pink;
    width: 300px;

    margin: 100px;

    border-width: 5px;
    border-color: red;
    border-style: solid;

    border: 5px solid red;
    /* (border-width) (border-style) (border-color) */

    padding: 50px 20px;
        /*(top & bottom) (left & right) */  
    padding: 50px 100px 300px 25px;
          /* top  right bottom left */
    padding: 50px 200px 0px;
          /* top lyr bottom  */

}