html {
  height: 100%;
}

body {
  /* display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
  margin: 0px;  /*removes default style*/
  height: 100%;   
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/  
}
.navbar {
  width: 100%;
  background: black;
  color: white;
  padding: 20px 40px;
}

.content {
  align-items: center;
  display: 	flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  height: 100%;
}

.desktop-container {
  align-items: center;
  display: 	flex;
  flex: 4;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.side-nav {
  background: greenyellow;
  display: none;
  /* flex: 0.5; */
}

.first-container {
  align-items: flex-start;
  background: papayawhip;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 40px;
  width: 100%;
}

.box {
  box-sizing: border-box;
  color: white;
  flex: 0 0;
  height: 70px;
  margin: 10px 20px;
  padding: 10px 20px;
  text-align: center;
  width: 70px;
}

.second-container {
  align-items: center;
  background: lightblue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 40px;
  width: 100%;
}

.large-box {
  box-sizing: border-box;
  color: white;
  height: 70px;
  margin: 10px 20px;
  padding: 10px 20px;
  text-align: center;
  width: 200px;
}

.side-nav-link {
  display: inline-block;
  margin: 12px 20px;
}

.box1 {
  background: red;
}

.box2 {
  background: blue;
}

.box3 {
  background: yellow;
}

@media screen and (min-width: 375px) {

  .content {
    align-items: flex-start;
    flex-direction: row;
    justify-content: start;
    overflow-y: hidden;
  }

  .side-nav {
    box-sizing: border-box;
    display: block;
    flex: 1;
    height: 100%;
    padding: 12px 20px;
  }

  .second-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .desktop-container {
    overflow-y: auto;
  }

}