html {
  height: 100%;
}

body {
  /* height: 100%;    */
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  /* display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
  
}


.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.navbar {
  color: white;
  background: black;
  padding: 20px 40px;
  z-index: 0;
}

.content {
  display: 	flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.desktop-container {
  display: 	flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 4;
  
}


.side-nav {
  background: greenyellow;
  display: none;
  /* flex: 0.5; */
}

.first-container {
  padding: 20px 40px;
  box-sizing: border-box;
  background: papayawhip;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  color: white;
  height: 70px;
  width: 70px;
  margin: 10px 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
  /* flex: 1; */
}

.second-container {
  padding: 20px 40px;
  box-sizing: border-box;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}


.large-box {
  color: white;
  height: 70px;
  width: 200px;
  margin: 10px 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
  /* flex: 1; */
}


.side-nav-link {
  display: inline-block;
  margin: 12px 20px;
  
}
.box1 {
  background: red;
}

.box2 {
  background: blue;
}

.box3 {
  background: yellow;
}



@media screen and (min-width: 375px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    overflow-y: hidden;

  }
  .side-nav {
    display: block;
    box-sizing: border-box;
    padding: 12px 20px;
    flex: 1;
    height: 100%;
  }

  .second-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .desktop-container {
    overflow-y: scroll;
  }

}