.site {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  overflow: hidden;
  padding: 8px
}

.steps-text {
  box-sizing: border-box;
  margin: 32px 0 8px 0 ;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.steps-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 8px 0;
  padding: 0;
  max-width: 446px;
  max-height: 14px;
  position: relative;
}

.steps-container > *:last-child{
  margin-right: 0;
}

.step {
  margin: 0 24px 0 0;
  padding: 0;
  width: 8px;
  max-height: 8px;
  max-width: 8px;
  height: 8px;
  color: #DBDBDB;
  outline: none;
  border: none;
  border-radius: 50%;
}

.step--active {
  width: 10px;
  height: 10px;
  background: #005555;
}

.steps-container::after {
  background: #DBDBDB;
  box-sizing: border-box;
  content: "";
  height: 1px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 99%;
  z-index: -2;
}

.page-title {
  box-sizing: border-box;
  color: #000000;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 36px;
  margin: 0 0 16px 0;
  padding: 0;
  text-align: center;
}

.page-description {
  box-sizing: border-box;
  color: #000000;
  margin: 0 0 16px 0;
  padding: 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 16px 0;
  overflow-y: auto;
  padding: 8px;
}

.item {
  background: #F6F6F6;
  box-sizing: border-box;
  display: block;
  margin: 0 0 8px 0;
  padding: 130px 0 0 0;
  width: 220px;
  height: 208px;
  /* min-height: 112px;
  min-width: 128px; */
  outline: none;
  border: none;
  position: relative;

}

.item img {
  height: 128px;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.item__content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 16px;
}

.iten__content__title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  box-sizing: border-box;
  margin: 0 0 8px 0;
}

.item__content__description {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item > *:last-child{
  margin-bottom: 0;
}

.item::after {
  background: white;
  border: #ececec 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 16px;
  z-index: 2;
}

.item:hover {
  background: #E5F2F2;
  border: 1px solid #007E7D;
  color: #007E7E;
}

.item:hover::after {
  background: #007E7E;
}

.button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 0;
}

.question-button {
  border: none;
  box-sizing: border-box;
  font-weight: 600;
  margin: 0 0 16px 0;
  outline: none;
  padding: 16px 32px;
  width: 100%;
}

.question-button--inactive {
  background: #DBDBDB;
  color: white;
}

.question-button--active {
  background: #005555;
  color: white;
}

.button-container > *:last-child{
  margin-bottom: 0;
}

@media screen and (min-width: 500px){
  .step {
    margin: 0 48px 0 0;
  }
  /* .item {
    min-width: calc(50% - 8px);
  } */

  .item:nth-child(2n+1){
    margin-right: 8px;
  }

  .item:nth-child(2n){
    margin-right: 0px;
  }
  .button-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .question-button {
    height: 56px;
    margin: 0 0 0 8px;
    width: 208px;
  }
}

@media screen and (min-width: 720px){
  .step {
    width: 80px;
  }
  
  .step__name {
    display: block;
  }
/* 
  .item {
    min-width: calc(33% - 8px);
  } */

  .item:nth-child(3n + 1),
  .item:nth-child(3n + 2){
    margin-left: 0;
    margin-right: 8px;
  }

  .item:nth-child(3n) {
    margin-left: 0;
    margin-right: 0;
  }

}

@media screen and (min-width: 920px){
  /* .item {
    min-width: calc(20% - 8px);
  } */

  .item:nth-child(5n + 1),
  .item:nth-child(5n + 2),
  .item:nth-child(5n + 3),
  .item:nth-child(5n + 4){
    margin-left: 0;
    margin-right: 8px;
  }

  .item:nth-child(5n + 5) {
    margin-left: 0;
    margin-right: 0;
  }
}